<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/admin-panel/admin-panel/tests" />
        <option value="$PROJECT_DIR$/admin-panel/tests" />
        <option value="$PROJECT_DIR$/homestead/tests" />
      </list>
    </option>
  </component>
</project>